{% extends "base.html" %}
{% block content %}
<div class="row">
    <div class="col-12 mx-auto text-center">
        <h3>{{object.movie}}</h3>
        <p>Cast: {{object.movie.cast}}</p>
        <p>Genre: {{object.movie.genre}}</p>
        {% if object.watched %}
        <p>You've watched this movie</p>
        <form method="post">
            {% csrf_token %}
            <button type="submit">Set status to UNWATCHED</button>
        </form>
        {% else %}
        <p>You have not watched this movie yet</p>
        <form method="post">
            {% csrf_token %}
            <button class="btn btn-warning" type="submit">Set status to WATCHED</button>
        </form>
        {% endif %}
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#confirm-delete">
            Delete
        </button>

        <!-- Modal -->
        <div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Delete {{object.movie.title}}</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>
                            Are you sure you want to delete {{object.movie.title}} from your watchlist?
                        </p>
                        <p><strong>This cannot be undone!</strong></p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-danger">delete</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <a href="{% url 'watchlist:watchlist' %}" class="btn btn-primary mx-auto">Back to Watchlist</a>
</div>
{% endblock %}