{% extends "base.html" %}
{% block content %}
<div class="row">
    <div class="col-12 col-md-8 mx-auto text-center">
        <h3>{{object.movie}}</h3>
        <p>Cast: {{object.movie.cast}}</p>
        <p>Genre: {{object.movie.genre}}</p>
        {% if object.watched %}
        <p>You've watched this movie</p>
        {% else %}
        <p>You have not watched this movie yet</p>
        {% endif %}
        <div class="row btn-row">
            <div class="col-6">

                <form method="post">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-warning">set status to {% if object.watched %} unwatched {% else %} watched
                        {% endif %}</button>
                </form>
                
            </div>
            <div class="col-6">
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#confirm-delete">
                    Delete
                </button>

            </div>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Delete {{object.movie.title}}</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>
                            Are you sure you want to delete {{object.movie.title}} from your watchlist?
                        </p>
                        <p class="font-weight-bold">This cannot be undone!</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-danger">delete</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row mt-5">
    <a href="{% url 'watchlist:watchlist' %}" class="btn btn-primary mx-auto">Back to Watchlist</a>
</div>
{% endblock %}